@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}  

html { background-color: #0064ff; }

body {
    background-color: #1a1a1a;
    color:white;
}

p {
    font-size: large;
}

main {
    margin-left: 3vw;
    margin-right: 3vw;
    padding-bottom: 5vh;
}

h1 {
    text-align: center;
}

.button {
    display: flex;
    background-color: #0064ff;
    text-decoration: none;
    color: white;
    padding: 1vh;
    width: 15vw;
    max-width: 15vw;
    border-radius: 10px;
    justify-content: center;
    margin: 1vh;
    text-align: center;
}
.button:hover { font-weight: bold; }
.button:active { background-color: #00388b; color: white; }

/* everything for the "social quicklinks" */

.social_quicklinks {
    display: flex;
    gap: 1vw;
    padding: 2vh;
    justify-content: center;
    height: 64px;
}

.social_quicklinks a {
    padding: 3vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    transition-duration: 150ms;
    transition-property: all;
}

.social_quicklinks a:hover {
    height: 24px;
    width: 24px;
}

.social_quicklinks .youtube { background-image: url(./assets/social/youtube.png); }
.social_quicklinks .discord { background-image: url(./assets/social/discord.png); }
.social_quicklinks .bluesky { background-image: url(./assets/social/bluesky.png); }
.social_quicklinks .twitter { background-image: url(./assets/social/twitter.png); }

@media (max-width: 1000px) {
    .button {
        display: flex;
        background-color: #0064ff;
        text-decoration: none;
        color: white;
        padding: 1vh;
        width: 50vw;
        max-width: 50vw;
        border-radius: 1.5vh;
        justify-content: center;
        margin: 1vh;
        text-align: center;
    }
}

@media (max-height: 800px) {
    .social_quicklinks a {
        padding: 5vh;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.advanced_button {
    display: flex;
    flex-direction: row;
    background-color: rgb(38, 38, 136);
    align-items: center;
    transition-property: all;
	transition-duration: 150ms;
	border-radius: 16px;
    font-size: large;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.advanced_button img {
    width: 100px;
    height: auto;
    padding: 8px;
}

.advanced_button a:visited, .advanced_button a:link {
    color: white;
    text-decoration: none;
}

.advanced_button:hover {
    background-color: rgb(40, 88, 160);
    cursor: pointer;
    letter-spacing: 2px;
}